<% dataBody.forEach(item => { %>
    <div class="single-artist">
      <% if (item.images.length > 0 ) { %> 
        <div
        style="
          background-image: url('<%- item.images[0].url%> ');
          background-size: cover;
          height: 400px;
          width: 350px;
        ">
        </div>
    </div>